<button (click)="add()" class="gray-background" mat-raised-button ><mat-icon>add</mat-icon></button>

<div>
  <mat-form-field fxLayoutAlign="center">
    <mat-label>Filtrar: </mat-label>
    <input matInput placeholder="Filtre por qualquer campo" (keyup)="filter(inputFiltro.value)" #inputFiltro>
  </mat-form-field>

  <mat-table class="gray-background" [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: showColumns;"></mat-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Preço</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.price | moneyFormat }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="edit(item)" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button disabled mat-icon-button (click)="remove(item)" matTooltip="Excluir">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
