<div *ngIf="!form.value.id; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><h1 mat-dialog-title>Novo</h1></ng-template>
<ng-template #elseBlock><h1 mat-dialog-title>Editar</h1></ng-template>

<div mat-dialog-content>
  <form fxLayout="column" class="form" [formGroup]="form">

    <mat-form-field class="field-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="tableNumber" name="tableNumber">
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="createOrUpdate()">Salvar</button>
</div>
